# Reporting

To run all at once – please choose: "Cell" => "Run All" 

To run cell by cell – please enter "Shift + Enter" for each cell in this notebook.

To reset everything – please choose: "Kernel" => "Restart" OR "Kernel" => "Restart & Clear Output" OR "Kernel" => "Restart & Run All"

Each cell could be edited and then run as described above.  

Comments are started with "#".

In [1]:
from reporting import Reporting

## Initialise user's account

In [2]:
# Please set the following parameters.
name = "John Smith" # user name
portfolio_id = "AAA" # portfolio name (each user could have more than one portfolio)
date = "2015-10-20" # date of account
currency = "EUR" # account currency
initial_balance = 130000

In [3]:
account = {name: [Reporting(date, portfolio_id, initial_balance, currency)]}

## Buy and sell some assetes

In [4]:
# Note 1: I assume that the commission is a multiplier, and the fee is an additive constant. 
# Please let me know if there should be other definitions.

In [5]:
asset_info = {"date": "2015-10-22", 
            "bank": "Bper", 
            "isin": "IT0000388907", 
            "title": "Arca Azioni Italia",
            "price": 20.4554,
            "nav": 20.4554,
            "fee": 0,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 622.69
account[name][0].buy(asset_info, quantity, 1) # buy

In [6]:
asset_info = {"date": "2015-10-22", 
            "bank": "Bper", 
            "isin": "IT0000380029", 
            "title": "Arca RR",
            "price": 11.176,
            "nav": 11.176,
            "fee": 0,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 3000.0
account[name][0].buy(asset_info, quantity, 1) # buy

In [7]:
asset_info = {"date": "2015-12-11", 
            "bank": "Bper", 
            "isin": "IT0000380029", 
            "title": "Arca RR",
            "price": 11.109,
            "nav": 11.109,
            "fee": 0,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 2700.0
account[name][0].buy(asset_info, quantity, 1) # buy

In [8]:
asset_info = {"date": "2016-02-22", 
            "bank": "Bper", 
            "isin": "IT0005104473", 
            "title": "CctEu 15Giu22 TV",
            "price": 100.24,
            "nav": 100.24,
            "fee": 0,
            "commission": 0.003,
            "currency": "EUR",
             "maturity": "2022-12-31"}
quantity = 500.0
account[name][0].buy(asset_info, quantity, 1) # buy

In [9]:
asset_info = {"date": "2016-02-24", 
            "bank": "Bper", 
            "isin": "IT0000384641", 
            "title": "Arca TE Titoli Esteri",
            "price": 20.876,
            "nav": 20.876,
            "fee": 0,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 50.0
account[name][0].buy(asset_info, quantity, 1) # buy

In [10]:
asset_info = {"date": "2016-10-20", 
            "bank": "Bper", 
            "isin": "IT0001033486", 
            "title": "Arca Azioni Europa",
            "price": 13.296,
            "nav": 13.296,
            "fee": 0,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 500.0
account[name][0].buy(asset_info, quantity, 1) # buy

In [11]:
asset_info = {"date": "2016-12-06", 
            "bank": "Bper", 
            "isin": "IT0005104473", 
            "title": "CctEu 15Giu22 TV",
            "price": 99.5,
            "nav": 99.5,
            "fee": 0,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 500.0
account[name][0].sell(asset_info, quantity, 1) # sell

In [12]:
asset_info = {"date": "2017-03-06", 
            "bank": "Bper", 
            "isin": "IT0000384641", 
            "title": "Arca TE Titoli Esteri",
            "price": 22.841,
            "nav": 22.841,
            "fee": 0,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 50.0
account[name][0].sell(asset_info, quantity, 1) # sell

In [13]:
asset_info = {"date": "2017-05-05", 
            "bank": "Bper", 
            "isin": "IT0000380029", 
            "title": "Arca RR",
            "price": 12.0,
            "nav": 12.0,
            "fee": 0,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 5600.0
account[name][0].sell(asset_info, quantity, 1) # sell

In [14]:
asset_info = {"date": "2017-10-20", 
            "bank": "Bper", 
            "isin": "FR0012386696", 
            "title": "Lyxor Barc Float Rate Eur 0-7y",
            "price": 101.05,
            "nav": 101.05,
            "fee": 0,
            "commission": 0,
            "currency": "EUR",
             "maturity": "2022-12-31"}
quantity = 200 
account[name][0].buy(asset_info, quantity, 1) # buy

### Current account table

In [15]:
account[name][0].current_account

,Date,Operation,Cash Flow,Balance,Record
0,2015-10-20,Deposit,130000.000000,130000.000000,Deposit
1,2015-10-22,Buy,12737.373026,117262.626974,Buy: Arca Azioni Italia ISIN: IT0000388907
2,2015-10-22,Buy,33528.000000,83734.626974,Buy: Arca RR ISIN: IT0000380029
3,2015-12-11,Buy,29994.300000,53740.326974,Buy: Arca RR ISIN: IT0000380029
4,2016-02-22,Buy,50270.360000,3469.966974,Buy: CctEu 15Giu22 TV ISIN: IT0005104473
5,2016-02-24,Buy,1043.800000,2426.166974,Buy: Arca TE Titoli Esteri ISIN: IT0000384641
6,2016-10-20,Buy,2426.166974,0.000000,Buy: Arca Azioni Europa ISIN: IT0001033486
7,2016-12-06,Sell,49750.000000,49750.000000,Sell: CctEu 15Giu22 TV ISIN: IT0005104473
8,2017-03-06,Sell,1142.050000,50892.050000,Sell: Arca TE Titoli Esteri ISIN: IT0000384641
9,2017-05-05,Sell,67200.000000,118092.050000,Sell: Arca RR ISIN: IT0000380029
10,2017-10-20,Buy,20210.000000,97882.050000,Buy: Lyxor Barc Float Rate Eur 0-7y ISIN: FR00...

### Buy / sell table

In [16]:
account[name][0].buysell

,Portfolio,Bank,Date,ISIN,Currency,Exchange Rate,Title,Operation,Quantity,Price,NAV,Fee,Commission,Cost
0,AAA,Bper,2015-10-22,IT0000388907,EUR,1,Arca Azioni Italia,Buy,622.69,20.4554,20.4554,0,0,12737.373026
1,AAA,Bper,2015-10-22,IT0000380029,EUR,1,Arca RR,Buy,3000.00,11.1760,11.1760,0,0,33528.000000
2,AAA,Bper,2015-12-11,IT0000380029,EUR,1,Arca RR,Buy,2700.00,11.1090,11.1090,0,0,29994.300000
3,AAA,Bper,2016-02-22,IT0005104473,EUR,1,CctEu 15Giu22 TV,Buy,500.00,100.2400,100.2400,0,0.003,50270.360000
4,AAA,Bper,2016-02-24,IT0000384641,EUR,1,Arca TE Titoli Esteri,Buy,50.00,20.8760,20.8760,0,0,1043.800000
5,AAA,Bper,2016-10-20,IT0001033486,EUR,1,Arca Azioni Europa,Buy,500.00,13.2960,13.2960,0,0,2426.166974
6,AAA,Bper,2016-12-06,IT0005104473,EUR,1,CctEu 15Giu22 TV,Sell,500.00,99.5000,99.5000,0,0,49750.000000
7,AAA,Bper,2017-03-06,IT0000384641,EUR,1,Arca TE Titoli Esteri,Sell,50.00,22.8410,22.8410,0,0,1142.050000
8,AAA,Bper,2017-05-05,IT0000380029,EUR,1,Arca RR,Sell,5600.00,12.0000,12.0000,0,0,67200.000000
9,AAA,Bper,2017-10-20,FR0012386696,EUR,1,Lyxor Barc Float Rate Eur 0-7y,Buy,200.00,101.0500,101.0500,0,0,20210.000000

## Add dividends / coupons

In [17]:
interest_info = {"date": "2017-11-20",
                "isin": "FR0012386696",
                "title": "Lyxor Barc Float Rate Eur 0-7y",
                "quantity": 1000,
                "amount": 190,
                "currency": "EUR"}
account[name][0].interest(interest_info)

## Deposit / withdraw

In [18]:
amount = 10000 # EUR
account[name][0].deposit("2017-11-14", amount) # deposit
amount = 5000 # EUR
account[name][0].withdraw("2017-11-17", amount) # withdraw

### Current account and Buy / sell tables

In [19]:
account[name][0].current_account

,Date,Operation,Cash Flow,Balance,Record
0,2015-10-20,Deposit,130000.000000,130000.000000,Deposit
1,2015-10-22,Buy,12737.373026,117262.626974,Buy: Arca Azioni Italia ISIN: IT0000388907
2,2015-10-22,Buy,33528.000000,83734.626974,Buy: Arca RR ISIN: IT0000380029
3,2015-12-11,Buy,29994.300000,53740.326974,Buy: Arca RR ISIN: IT0000380029
4,2016-02-22,Buy,50270.360000,3469.966974,Buy: CctEu 15Giu22 TV ISIN: IT0005104473
5,2016-02-24,Buy,1043.800000,2426.166974,Buy: Arca TE Titoli Esteri ISIN: IT0000384641
6,2016-10-20,Buy,2426.166974,0.000000,Buy: Arca Azioni Europa ISIN: IT0001033486
7,2016-12-06,Sell,49750.000000,49750.000000,Sell: CctEu 15Giu22 TV ISIN: IT0005104473
8,2017-03-06,Sell,1142.050000,50892.050000,Sell: Arca TE Titoli Esteri ISIN: IT0000384641
9,2017-05-05,Sell,67200.000000,118092.050000,Sell: Arca RR ISIN: IT0000380029
10,2017-10-20,Buy,20210.000000,97882.050000,Buy: Lyxor Barc Float Rate Eur 0-7y ISIN: FR00...
11,2017-11-20,Dividend / Coupon,190.000000,98072.050000,Title: FR0012386696 EUR Qty: 1000 (Lyxor Barc ...
12,2017-11-14,Deposit,10000.000000,108072.050000,Deposit
13,2017-11-17,Withdraw,5000.000000,103072.050000,Withdraw

In [20]:
account[name][0].buysell

,Portfolio,Bank,Date,ISIN,Currency,Exchange Rate,Title,Operation,Quantity,Price,NAV,Fee,Commission,Cost
0,AAA,Bper,2015-10-22,IT0000388907,EUR,1,Arca Azioni Italia,Buy,622.69,20.4554,20.4554,0,0,12737.373026
1,AAA,Bper,2015-10-22,IT0000380029,EUR,1,Arca RR,Buy,3000.00,11.1760,11.1760,0,0,33528.000000
2,AAA,Bper,2015-12-11,IT0000380029,EUR,1,Arca RR,Buy,2700.00,11.1090,11.1090,0,0,29994.300000
3,AAA,Bper,2016-02-22,IT0005104473,EUR,1,CctEu 15Giu22 TV,Buy,500.00,100.2400,100.2400,0,0.003,50270.360000
4,AAA,Bper,2016-02-24,IT0000384641,EUR,1,Arca TE Titoli Esteri,Buy,50.00,20.8760,20.8760,0,0,1043.800000
5,AAA,Bper,2016-10-20,IT0001033486,EUR,1,Arca Azioni Europa,Buy,500.00,13.2960,13.2960,0,0,2426.166974
6,AAA,Bper,2016-12-06,IT0005104473,EUR,1,CctEu 15Giu22 TV,Sell,500.00,99.5000,99.5000,0,0,49750.000000
7,AAA,Bper,2017-03-06,IT0000384641,EUR,1,Arca TE Titoli Esteri,Sell,50.00,22.8410,22.8410,0,0,1142.050000
8,AAA,Bper,2017-05-05,IT0000380029,EUR,1,Arca RR,Sell,5600.00,12.0000,12.0000,0,0,67200.000000
9,AAA,Bper,2017-10-20,FR0012386696,EUR,1,Lyxor Barc Float Rate Eur 0-7y,Buy,200.00,101.0500,101.0500,0,0,20210.000000

### Current position tables

In [21]:
# Current position.
positions = account[name][0].positions()
positions[0]

,ISIN,Currency,Maturity,Quantity,Price,Exchange Rate,Value Gross,Value Net,Weight
Title,,,,,,,,,
Arca Azioni Italia,IT0000388907,EUR,,622.69,20.4554,1,12737.4,12737.4,0.0916582
CctEu 15Giu22 TV,IT0005104473,EUR,2022-12-31,0,99.5,1,370,520.36,0.00374451
Arca Azioni Europa,IT0001033486,EUR,,500,13.296,1,6648,2426.17,0.0174587
Lyxor Barc Float Rate Eur 0-7y,FR0012386696,EUR,2022-12-31,200,101.05,1,20210,20210,0.145431
Cash,,EUR,,103072,1,1,103072,103072,0.741707

In [22]:
print ("Total: ", positions[1])

Total:  {'Value Gross': 143037.423026, 'Value Net': 138965.95, 'Weight': 1.0}

In [23]:
# Cashflows for all assets.
for a in account[name][0].asset_log:
    cashflow = account[name][0].asset_log[a]['cashflow']
    ii = cashflow.iloc[0, 0]
    print ("===========================================")
    print (cashflow)

===========================================
            Arca Azioni Italia
2015-10-22       -12737.373026
===========================================
            Arca RR
2015-10-22 -33528.0
2015-12-11 -29994.3
2017-05-05  67200.0
===========================================
            CctEu 15Giu22 TV
2016-02-22         -50270.36
2016-12-06          49750.00
===========================================
            Arca TE Titoli Esteri
2016-02-24               -1043.80
2017-03-06                1142.05
===========================================
            Arca Azioni Europa
2016-10-20        -2426.166974
===========================================
            Lyxor Barc Float Rate Eur 0-7y
2017-10-20                        -20210.0
2017-11-20                           190.0

In [24]:
# Returns.

# Note 2: Could you please check if all the column names are correct 
# (for the tables: Returns (below) and Positions (above)). 

# Note 3: Because of the small number of assets and short buy/sell periods in this example, values of "IRR" and 
# "Annualised Return" may look not as expected, however, there should be ok for real number of buys/sells. 
# For example, if there are only buys for some assets, the algorithm will return 0 for both quantities.

# Note 4: Given that some positions are closed, some are not, some are partially closed, 
# there are multiple buys and sells for the the same asset, do "PnL", "IRR" and "Annual Return" make sense?
# Could we calculate all these quantities just for holdings? Or for entirely closed positions? Please advise. 

returns = account[name][0].returns()
returns[0]

,ISIN,Currency,Coupon,PnL,IRR,Annualised Return
Arca Azioni Italia,IT0000388907,EUR,0,0,0,0
Arca RR,IT0000380029,EUR,0,3677.7,0.02249,0.0492727
CctEu 15Giu22 TV,IT0005104473,EUR,0,-520.36,-0.0103512,-0.00905733
Arca TE Titoli Esteri,IT0000384641,EUR,0,98.25,0.0941272,0.0630853
Arca Azioni Europa,IT0001033486,EUR,0,0,0,0
Lyxor Barc Float Rate Eur 0-7y,FR0012386696,EUR,0,-20020,-0.990599,-8.05261

In [25]:
print ("Total: ", returns[1])

Total:  {'Coupon': 0, 'PnL': -16764.410000000003, 'IRR': -0.09538787450870001, 'Annualised Return': -1.2448037153217093}