# Reporting

To run all at once – please choose: "Cell" => "Run All" 

To run cell by cell – please enter "Shift + Enter" for each cell in this notebook.

To reset everything – please choose: "Kernel" => "Restart" OR "Kernel" => "Restart & Clear Output" OR "Kernel" => "Restart & Run All"

Each cell could be edited and then run as described above.  

Comments are started with "#".

In [1]:
from reporting import Reporting

## Initialise user's account

In [2]:
# Please set the following parameters.
name = "John Smith" # user name
portfolio_id = "AAA" # portfolio name (each user could have more than one portfolio)
date = "2015-10-20" # date of account
currency = "EUR" # account currency
initial_balance = 150000

In [3]:
account = {name: [Reporting(date, portfolio_id, initial_balance, currency)]}

## Buy and sell some assetes

In [4]:
asset_info = {"date": "2015-10-22", 
            "bank": "Bper", 
            "isin": "IT0000388907", 
            "title": "Arca Azioni Italia",
            "price": 20.4554,
            "nav": 20.4554,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 622.69
account[name][0].buy(asset_info, quantity) # buy

In [5]:
asset_info = {"date": "2015-10-22", 
            "bank": "Bper", 
            "isin": "IT0000380029", 
            "title": "Arca RR",
            "price": 11.176,
            "nav": 11.176,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 3000.0
account[name][0].buy(asset_info, quantity) # buy

In [6]:
asset_info = {"date": "2015-12-11", 
            "bank": "Bper", 
            "isin": "IT0000380029", 
            "title": "Arca RR",
            "price": 11.109,
            "nav": 11.109,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 2700.0
account[name][0].buy(asset_info, quantity) # buy

In [7]:
asset_info = {"date": "2016-02-22", 
            "bank": "Bper", 
            "isin": "IT0005104473", 
            "title": "CctEu 15Giu22 TV",
            "price": 100.24,
            "nav": 100.24,
            "commission": 0.0031,
            "currency": "EUR",
             "maturity": "2022-12-31"}
quantity = 500.0
account[name][0].buy(asset_info, quantity) # buy

In [8]:
asset_info = {"date": "2016-02-24", 
            "bank": "Bper", 
            "isin": "IT0000384641", 
            "title": "Arca TE Titoli Esteri",
            "price": 20.876,
            "nav": 20.876,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 50.0
account[name][0].buy(asset_info, quantity) # buy

In [9]:
asset_info = {"date": "2016-06-06", 
            "bank": "Bper", 
            "isin": "PL0005000000", 
            "title": "Exemplary Foreign Stock",
            "price": 100,
            "nav": 100,
            "commission": 0,
            "currency": "PLN",
             "maturity": ""}
quantity = 100.0
account[name][0].buy(asset_info, quantity) # buy

In [10]:
asset_info = {"date": "2016-07-06", 
            "bank": "Bper", 
            "isin": "PL0005000000", 
            "title": "Exemplary Foreign Stock",
            "price": 110,
            "nav": 110,
            "commission": 0,
            "currency": "PLN",
             "maturity": ""}
quantity = 80.0
account[name][0].sell(asset_info, quantity) # sell

In [11]:
asset_info = {"date": "2016-10-20", 
            "bank": "Bper", 
            "isin": "IT0001033486", 
            "title": "Arca Azioni Europa",
            "price": 13.296,
            "nav": 13.296,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 500.0
account[name][0].buy(asset_info, quantity) # buy

In [12]:
asset_info = {"date": "2016-12-06", 
            "bank": "Bper", 
            "isin": "IT0005104473", 
            "title": "CctEu 15Giu22 TV",
            "price": 99.5,
            "nav": 99.5,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 500.0
account[name][0].sell(asset_info, quantity) # sell

In [13]:
asset_info = {"date": "2017-03-06", 
            "bank": "Bper", 
            "isin": "IT0000384641", 
            "title": "Arca TE Titoli Esteri",
            "price": 22.841,
            "nav": 22.841,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 50.0
account[name][0].sell(asset_info, quantity) # sell

In [14]:
asset_info = {"date": "2017-05-05", 
            "bank": "Bper", 
            "isin": "IT0000380029", 
            "title": "Arca RR",
            "price": 12.0,
            "nav": 12.0,
            "commission": 0,
            "currency": "EUR",
             "maturity": ""}
quantity = 5600.0
account[name][0].sell(asset_info, quantity) # sell

In [15]:
asset_info = {"date": "2017-10-20", 
            "bank": "Bper", 
            "isin": "FR0012386696", 
            "title": "Lyxor Barc Float Rate Eur 0-7y",
            "price": 101.05,
            "nav": 101.05,
            "commission": 0,
            "currency": "EUR",
             "maturity": "2022-12-31"}
quantity = 200 
account[name][0].buy(asset_info, quantity) # buy

### Current account table

In [16]:
account[name][0].current_account_table()

,Date,Operation,Cash Flow,Balance,Record
0,2015-10-20,Deposit,150000.00,150000.00,Deposit
1,2015-10-22,Buy,12737.37,137262.63,Buy: Arca Azioni Italia ISIN: IT0000388907
2,2015-10-22,Buy,33528.00,103734.63,Buy: Arca RR ISIN: IT0000380029
3,2015-12-11,Buy,29994.30,73740.33,Buy: Arca RR ISIN: IT0000380029
4,2016-02-22,Buy,50275.37,23464.95,Buy: CctEu 15Giu22 TV ISIN: IT0005104473
5,2016-02-24,Buy,1043.80,22421.15,Buy: Arca TE Titoli Esteri ISIN: IT0000384641
6,2016-06-06,Buy,2294.90,20126.26,Buy: Exemplary Foreign Stock ISIN: PL0005000000
7,2016-07-06,Sell,1980.26,22106.52,Sell: Exemplary Foreign Stock ISIN: PL0005000000
8,2016-10-20,Buy,6648.00,15458.52,Buy: Arca Azioni Europa ISIN: IT0001033486
9,2016-12-06,Sell,49750.00,65208.52,Sell: CctEu 15Giu22 TV ISIN: IT0005104473
10,2017-03-06,Sell,1142.05,66350.57,Sell: Arca TE Titoli Esteri ISIN: IT0000384641
11,2017-05-05,Sell,67200.00,133550.57,Sell: Arca RR ISIN: IT0000380029
12,2017-10-20,Buy,20210.00,113340.57,Buy: Lyxor Barc Float Rate Eur 0-7y ISIN: FR00...

### Buy / sell table

In [17]:
account[name][0].buysell_table()

,Portfolio,Bank,Date,ISIN,Currency,Exchange Rate,Title,Operation,Quantity,Price,NAV,"Commission, %",Value
0,AAA,Bper,2015-10-22,IT0000388907,EUR,1,Arca Azioni Italia,Buy,622.69,20.46,20.46,0.00,12737.37
1,AAA,Bper,2015-10-22,IT0000380029,EUR,1,Arca RR,Buy,3000.00,11.18,11.18,0.00,33528.00
2,AAA,Bper,2015-12-11,IT0000380029,EUR,1,Arca RR,Buy,2700.00,11.11,11.11,0.00,29994.30
3,AAA,Bper,2016-02-22,IT0005104473,EUR,1,CctEu 15Giu22 TV,Buy,500.00,100.24,100.24,0.31,50275.37
4,AAA,Bper,2016-02-24,IT0000384641,EUR,1,Arca TE Titoli Esteri,Buy,50.00,20.88,20.88,0.00,1043.80
5,AAA,Bper,2016-06-06,PL0005000000,PLN,0.22949,Exemplary Foreign Stock,Buy,100.00,100.00,100.00,0.00,2294.90
6,AAA,Bper,2016-07-06,PL0005000000,PLN,0.22503,Exemplary Foreign Stock,Sell,80.00,110.00,110.00,0.00,1980.26
7,AAA,Bper,2016-10-20,IT0001033486,EUR,1,Arca Azioni Europa,Buy,500.00,13.30,13.30,0.00,6648.00
8,AAA,Bper,2016-12-06,IT0005104473,EUR,1,CctEu 15Giu22 TV,Sell,500.00,99.50,99.50,0.00,49750.00
9,AAA,Bper,2017-03-06,IT0000384641,EUR,1,Arca TE Titoli Esteri,Sell,50.00,22.84,22.84,0.00,1142.05
10,AAA,Bper,2017-05-05,IT0000380029,EUR,1,Arca RR,Sell,5600.00,12.00,12.00,0.00,67200.00
11,AAA,Bper,2017-10-20,FR0012386696,EUR,1,Lyxor Barc Float Rate Eur 0-7y,Buy,200.00,101.05,101.05,0.00,20210.00

## Add dividends / coupons

In [18]:
interest_info = {"date": "2017-11-20",
                "isin": "FR0012386696",
                "title": "Lyxor Barc Float Rate Eur 0-7y",
                "quantity": 1000,
                "amount": 190,
                "currency": "EUR"}
account[name][0].interest(interest_info)

## Deposit / withdraw

In [19]:
amount = 10000 # EUR
account[name][0].deposit("2017-11-14", amount) # deposit
amount = 5000 # EUR
account[name][0].withdraw("2017-11-17", amount) # withdraw

### Current account and Buy / sell tables

In [20]:
account[name][0].current_account_table()

,Date,Operation,Cash Flow,Balance,Record
0,2015-10-20,Deposit,150000.00,150000.00,Deposit
1,2015-10-22,Buy,12737.37,137262.63,Buy: Arca Azioni Italia ISIN: IT0000388907
2,2015-10-22,Buy,33528.00,103734.63,Buy: Arca RR ISIN: IT0000380029
3,2015-12-11,Buy,29994.30,73740.33,Buy: Arca RR ISIN: IT0000380029
4,2016-02-22,Buy,50275.37,23464.95,Buy: CctEu 15Giu22 TV ISIN: IT0005104473
5,2016-02-24,Buy,1043.80,22421.15,Buy: Arca TE Titoli Esteri ISIN: IT0000384641
6,2016-06-06,Buy,2294.90,20126.26,Buy: Exemplary Foreign Stock ISIN: PL0005000000
7,2016-07-06,Sell,1980.26,22106.52,Sell: Exemplary Foreign Stock ISIN: PL0005000000
8,2016-10-20,Buy,6648.00,15458.52,Buy: Arca Azioni Europa ISIN: IT0001033486
9,2016-12-06,Sell,49750.00,65208.52,Sell: CctEu 15Giu22 TV ISIN: IT0005104473
10,2017-03-06,Sell,1142.05,66350.57,Sell: Arca TE Titoli Esteri ISIN: IT0000384641
11,2017-05-05,Sell,67200.00,133550.57,Sell: Arca RR ISIN: IT0000380029
12,2017-10-20,Buy,20210.00,113340.57,Buy: Lyxor Barc Float Rate Eur 0-7y ISIN: FR00...
13,2017-11-20,Dividend / Coupon,190.00,113530.57,Title: FR0012386696 EUR Qty: 1000 (Lyxor Barc ...
14,2017-11-14,Deposit,10000.00,123530.57,Deposit
15,2017-11-17,Withdraw,5000.00,118530.57,Withdraw

In [21]:
account[name][0].buysell_table()

,Portfolio,Bank,Date,ISIN,Currency,Exchange Rate,Title,Operation,Quantity,Price,NAV,"Commission, %",Value
0,AAA,Bper,2015-10-22,IT0000388907,EUR,1,Arca Azioni Italia,Buy,622.69,20.46,20.46,0.00,12737.37
1,AAA,Bper,2015-10-22,IT0000380029,EUR,1,Arca RR,Buy,3000.00,11.18,11.18,0.00,33528.00
2,AAA,Bper,2015-12-11,IT0000380029,EUR,1,Arca RR,Buy,2700.00,11.11,11.11,0.00,29994.30
3,AAA,Bper,2016-02-22,IT0005104473,EUR,1,CctEu 15Giu22 TV,Buy,500.00,100.24,100.24,0.31,50275.37
4,AAA,Bper,2016-02-24,IT0000384641,EUR,1,Arca TE Titoli Esteri,Buy,50.00,20.88,20.88,0.00,1043.80
5,AAA,Bper,2016-06-06,PL0005000000,PLN,0.22949,Exemplary Foreign Stock,Buy,100.00,100.00,100.00,0.00,2294.90
6,AAA,Bper,2016-07-06,PL0005000000,PLN,0.22503,Exemplary Foreign Stock,Sell,80.00,110.00,110.00,0.00,1980.26
7,AAA,Bper,2016-10-20,IT0001033486,EUR,1,Arca Azioni Europa,Buy,500.00,13.30,13.30,0.00,6648.00
8,AAA,Bper,2016-12-06,IT0005104473,EUR,1,CctEu 15Giu22 TV,Sell,500.00,99.50,99.50,0.00,49750.00
9,AAA,Bper,2017-03-06,IT0000384641,EUR,1,Arca TE Titoli Esteri,Sell,50.00,22.84,22.84,0.00,1142.05
10,AAA,Bper,2017-05-05,IT0000380029,EUR,1,Arca RR,Sell,5600.00,12.00,12.00,0.00,67200.00
11,AAA,Bper,2017-10-20,FR0012386696,EUR,1,Lyxor Barc Float Rate Eur 0-7y,Buy,200.00,101.05,101.05,0.00,20210.00

### Current position tables

In [22]:
# Update prices.

date = "2020-06-25"
current_prices = {"Arca Azioni Italia": 20.7, 
                  "Arca RR": 13, 
                  "CctEu 15Giu22 TV": 103, 
                  "Arca TE Titoli Esteri": 23.9,
                 "Exemplary Foreign Stock": 120,
                 "Arca Azioni Europa": 13.6,
                 "Lyxor Barc Float Rate Eur 0-7y": 102.05}

In [23]:
# Current position.
positions = account[name][0].positions_table(date, current_prices)
positions[0]

,ISIN,Currency,Maturity,Quantity,Price,Average Buy Price,Exchange Rate,Amount,"Weight, %"
Title,,,,,,,,,
Arca Azioni Italia,IT0000388907,EUR,,622.69,20.70,20.46,1.0000,12889.68,7.97
Arca RR,IT0000380029,EUR,,100.00,13.00,11.14,1.0000,1300.00,0.75
Exemplary Foreign Stock,PL0005000000,PLN,,20.00,120.00,100.00,0.2239,537.48,0.31
Arca Azioni Europa,IT0001033486,EUR,,500.00,13.60,13.30,1.0000,6800.00,4.16
Lyxor Barc Float Rate Eur 0-7y,FR0012386696,EUR,2022-12-31,200.00,102.05,101.05,1.0000,20410.00,12.65
Cash,,EUR,,118530.57,1.00,1.00,1.0000,118530.57,74.16

In [24]:
print ("Total: ", positions[1])

Total:  {'Amount': 160467.73, 'Weight, %': 100.0}

In [25]:
# Cashflows for all assets.

for a in account[name][0].asset_log:
    cashflow = account[name][0].asset_log[a]['cashflow']
    ii = cashflow.iloc[0, 0]
    print ("===========================================")
    print (a)
    print (cashflow)

===========================================
Arca Azioni Italia
              Price   Amount
2015-10-22  20.4554 -12737.4
===========================================
Arca RR
             Price   Amount
2015-10-22  11.176   -33528
2015-12-11  11.109 -29994.3
2017-05-05      12    67200
===========================================
CctEu 15Giu22 TV
             Price   Amount
2016-02-22  100.24 -50275.4
2016-12-06    99.5    49750
===========================================
Arca TE Titoli Esteri
             Price   Amount
2016-02-24  20.876  -1043.8
2017-03-06  22.841  1142.05
===========================================
Exemplary Foreign Stock
           Price   Amount
2016-06-06   100  -2294.9
2016-07-06   110  1980.26
===========================================
Arca Azioni Europa
             Price Amount
2016-10-20  13.296  -6648
===========================================
Lyxor Barc Float Rate Eur 0-7y
             Price Amount
2017-10-20  101.05 -20210
2017-11-20       0    190

In [26]:
# Returns.

returns = account[name][0].returns_table(date, current_prices)
returns[0]

,ISIN,Currency,Coupon,PnL,"MWRR, %","Annualised Return, %"
Arca Azioni Italia,IT0000388907,EUR,0.0,152.31,1.20,0.18
Arca RR,IT0000380029,EUR,0.0,4977.70,2.96,2.19
CctEu 15Giu22 TV,IT0005104473,EUR,0.0,-525.37,-1.04,-0.91
Arca TE Titoli Esteri,IT0000384641,EUR,0.0,98.25,9.41,6.31
Exemplary Foreign Stock,PL0005000000,PLN,0.0,222.84,5.32,1.65
Arca Azioni Europa,IT0001033486,EUR,0.0,152.00,2.29,0.43
Lyxor Barc Float Rate Eur 0-7y,FR0012386696,EUR,0.0,390.00,0.48,0.50

In [27]:
print ("Total: ", returns[1])

Total:  {'Coupon': 0, 'PnL': 5467.73, 'MWRR, %': 1.06, 'Annualised Return, %': 1.8}